body {
  background-color: #d3d8e1;
  color: red;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.navbar {
  background-color: burlywood;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
}

footer {
  background-color: #a3d296;
}

.first-team-goalkeeper-list,
.first-team-defender-list,
.first-team-midfielder-list,
.first-team-attacker-list,
.flexi-team-goalkeeper-list,
.flexi-team-defender-list,
.flexi-team-midfielder-list,
.flexi-team-attacker-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.first-team-goalkeeper,
.first-team-defender,
.first-team-midfielder,
.first-team-attacker,
.flexi-team-goalkeeper,
.flexi-team-defender,
.flexi-team-midfielder,
.flexi-team-attacker {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.goalkeeper-avatar,
.defender-avatar,
.midfielder-avatar,
.attacker-avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-top: 10px;
}
